/*
 * Project settings
 *
 * contents:
 * 1. Sizes & margins
 * 2. Grid
 * 3. Media queries
 */
/*
 * 1. Sizes & margins
 */
/*
 * 2. Grid
 */
/*
 * 3. Media queries
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
[class*="grid-"] {
  display: block;
  *zoom: 1; }
  [class*="grid-"]:before, [class*="grid-"]:after {
    content: " ";
    display: table; }
  [class*="grid-"]:after {
    clear: both; }
  [class*="grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.9375rem; }

@media only screen {
  .s-grid-1 > li {
    width: 100%;
    padding: 0 0.9375rem; }
    .s-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .s-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .s-grid-2 > li {
    width: 50%;
    padding: 0 0.9375rem; }
    .s-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .s-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .s-grid-3 > li {
    width: 33.3333333333%;
    padding: 0 0.9375rem; }
    .s-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .s-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .s-grid-4 > li {
    width: 25%;
    padding: 0 0.9375rem; }
    .s-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .s-grid-4 > li:nth-of-type(4n+1) {
      clear: both; } }
@media only screen and (min-width: 501px) {
  .m-grid-1 > li {
    width: 100%;
    padding: 0 0.9375rem; }
    .m-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .m-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .m-grid-2 > li {
    width: 50%;
    padding: 0 0.9375rem; }
    .m-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .m-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .m-grid-3 > li {
    width: 33.3333333333%;
    padding: 0 0.9375rem; }
    .m-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .m-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .m-grid-4 > li {
    width: 25%;
    padding: 0 0.9375rem; }
    .m-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .m-grid-4 > li:nth-of-type(4n+1) {
      clear: both; } }
@media only screen and (min-width: 1001px) {
  .l-grid-1 > li {
    width: 100%;
    padding: 0 0.9375rem; }
    .l-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .l-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .l-grid-2 > li {
    width: 50%;
    padding: 0 0.9375rem; }
    .l-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .l-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .l-grid-3 > li {
    width: 33.3333333333%;
    padding: 0 0.9375rem; }
    .l-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .l-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .l-grid-4 > li {
    width: 25%;
    padding: 0 0.9375rem; }
    .l-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .l-grid-4 > li:nth-of-type(4n+1) {
      clear: both; } }
@media only screen and (min-width: 1400px) {
  .xl-grid-1 > li {
    width: 100%;
    padding: 0 0.9375rem; }
    .xl-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xl-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xl-grid-2 > li {
    width: 50%;
    padding: 0 0.9375rem; }
    .xl-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xl-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xl-grid-3 > li {
    width: 33.3333333333%;
    padding: 0 0.9375rem; }
    .xl-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xl-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xl-grid-4 > li {
    width: 25%;
    padding: 0 0.9375rem; }
    .xl-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xl-grid-4 > li:nth-of-type(4n+1) {
      clear: both; } }
@media only screen and (min-width: 1920px) {
  .xxl-grid-1 > li {
    width: 100%;
    padding: 0 0.9375rem; }
    .xxl-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xxl-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xxl-grid-2 > li {
    width: 50%;
    padding: 0 0.9375rem; }
    .xxl-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xxl-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xxl-grid-3 > li {
    width: 33.3333333333%;
    padding: 0 0.9375rem; }
    .xxl-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xxl-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xxl-grid-4 > li {
    width: 25%;
    padding: 0 0.9375rem; }
    .xxl-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xxl-grid-4 > li:nth-of-type(4n+1) {
      clear: both; } }
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

@media only screen {
  .s-push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .s-pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .s-push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .s-pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .s-push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .s-pull-3 {
    position: relative;
    right: 75%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .s-1 {
    position: relative;
    width: 25%; }

  .s-2 {
    position: relative;
    width: 50%; }

  .s-3 {
    position: relative;
    width: 75%; }

  .s-4 {
    position: relative;
    width: 100%; }

  .s-offset-0 {
    position: relative;
    margin-left: 0%; }

  .s-offset-1 {
    position: relative;
    margin-left: 25%; }

  .s-offset-2 {
    position: relative;
    margin-left: 50%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.s-centered,
  .columns.s-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.s-uncentered,
  .columns.s-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.s-uncentered.opposite,
  .columns.s-uncentered.opposite {
    float: right !important; } }
@media only screen and (min-width: 501px) {
  .m-push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .m-pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .m-push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .m-pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .m-push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .m-pull-3 {
    position: relative;
    right: 75%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .m-1 {
    position: relative;
    width: 25%; }

  .m-2 {
    position: relative;
    width: 50%; }

  .m-3 {
    position: relative;
    width: 75%; }

  .m-4 {
    position: relative;
    width: 100%; }

  .m-offset-0 {
    position: relative;
    margin-left: 0%; }

  .m-offset-1 {
    position: relative;
    margin-left: 25%; }

  .m-offset-2 {
    position: relative;
    margin-left: 50%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.m-centered,
  .columns.m-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.m-uncentered,
  .columns.m-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.m-uncentered.opposite,
  .columns.m-uncentered.opposite {
    float: right !important; }

  .push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 75%;
    left: auto; } }
@media only screen and (min-width: 1001px) {
  .l-push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .l-pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .l-push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .l-pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .l-push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .l-pull-3 {
    position: relative;
    right: 75%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .l-1 {
    position: relative;
    width: 25%; }

  .l-2 {
    position: relative;
    width: 50%; }

  .l-3 {
    position: relative;
    width: 75%; }

  .l-4 {
    position: relative;
    width: 100%; }

  .l-offset-0 {
    position: relative;
    margin-left: 0%; }

  .l-offset-1 {
    position: relative;
    margin-left: 25%; }

  .l-offset-2 {
    position: relative;
    margin-left: 50%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.l-centered,
  .columns.l-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.l-uncentered,
  .columns.l-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.l-uncentered.opposite,
  .columns.l-uncentered.opposite {
    float: right !important; } }
@media only screen and (min-width: 1400px) {
  .xl-push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .xl-pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .xl-push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .xl-pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .xl-push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .xl-pull-3 {
    position: relative;
    right: 75%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .xl-1 {
    position: relative;
    width: 25%; }

  .xl-2 {
    position: relative;
    width: 50%; }

  .xl-3 {
    position: relative;
    width: 75%; }

  .xl-4 {
    position: relative;
    width: 100%; }

  .xl-offset-0 {
    position: relative;
    margin-left: 0%; }

  .xl-offset-1 {
    position: relative;
    margin-left: 25%; }

  .xl-offset-2 {
    position: relative;
    margin-left: 50%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.xl-centered,
  .columns.xl-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.xl-uncentered,
  .columns.xl-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.xl-uncentered.opposite,
  .columns.xl-uncentered.opposite {
    float: right !important; } }
@media only screen and (min-width: 1920px) {
  .xxl-push-1 {
    position: relative;
    left: 25%;
    right: auto; }

  .xxl-pull-1 {
    position: relative;
    right: 25%;
    left: auto; }

  .xxl-push-2 {
    position: relative;
    left: 50%;
    right: auto; }

  .xxl-pull-2 {
    position: relative;
    right: 50%;
    left: auto; }

  .xxl-push-3 {
    position: relative;
    left: 75%;
    right: auto; }

  .xxl-pull-3 {
    position: relative;
    right: 75%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .xxl-1 {
    position: relative;
    width: 25%; }

  .xxl-2 {
    position: relative;
    width: 50%; }

  .xxl-3 {
    position: relative;
    width: 75%; }

  .xxl-4 {
    position: relative;
    width: 100%; }

  .xxl-offset-0 {
    position: relative;
    margin-left: 0%; }

  .xxl-offset-1 {
    position: relative;
    margin-left: 25%; }

  .xxl-offset-2 {
    position: relative;
    margin-left: 50%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.xxl-centered,
  .columns.xxl-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.xxl-uncentered,
  .columns.xxl-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.xxl-uncentered.opposite,
  .columns.xxl-uncentered.opposite {
    float: right !important; } }
* {
  margin: 0;
  padding: 0;
  position: relative; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.row {
  max-width: none; }

h1, h2, p, a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal; }
  h1.is_bold, h2.is_bold, p.is_bold, a.is_bold {
    font-weight: 700; }
  h1 a, h2 a, p a, a a {
    font-size: 1em; }

h1, h2 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

p {
  font-size: .9em; }

a {
  color: black;
  text-decoration: underline;
  cursor: pointer; }
  a.has-content {
    text-decoration: none; }

html,
body {
  height: 100% !important;
  min-height: 100%;
  background: white; }

header,
footer {
  padding: 0 6.25rem; }

main {
  padding-top: 60px; }

main > * {
  padding: 3.125rem 6.25rem; }
  main > *:first-child {
    padding-top: 6.25rem; }
  main > *:last-child {
    padding-bottom: 6.25rem; }

@media only screen and (max-width: 500px) {
  header,
  footer {
    padding: 0 3.75rem; }

  main > * {
    padding: 3.75rem 3.75rem; }
    main > *:first-child {
      padding-top: 3.75rem; }
    main > *:last-child {
      padding-bottom: 3.75rem; } }
main {
  z-index: 900;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: white; }

body > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 60px;
  background-color: #f3f4f5; }
  body > header .link-logo {
    width: 50px; }

footer {
  z-index: 1100;
  padding-top: 20px;
  padding-bottom: 20px;
  background: black; }
  footer p, footer a {
    color: white; }

section .section-header,
section .section-body {
  background-color: #f3f4f5; }

body.error404 #error404-content {
  max-width: 800px;
  margin: 100px auto;
  display: block !important;
  background-color: transparent; }
  body.error404 #error404-content h2, body.error404 #error404-content p {
    margin-bottom: 1em; }

a.trigger-menu {
  width: 35px;
  height: 35px;
  display: block;
  position: relative; }
  a.trigger-menu i {
    width: 100%;
    height: 3px;
    display: block;
    top: calc(50% - 1.5px);
    background: black; }
    a.trigger-menu i:before, a.trigger-menu i:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      transition: .2s; }
    a.trigger-menu i:before {
      margin-top: -8px; }
    a.trigger-menu i:after {
      margin-top: 8px; }

a.trigger-menu:hover i:before, a.trigger-menu:hover i:after {
  transition: .2s; }
a.trigger-menu:hover i:before {
  margin-top: -11px; }
a.trigger-menu:hover i:after {
  margin-top: 11px; }

@keyframes activebefore {
  50% {
    margin-top: 0; }
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }
a.trigger-menu:focus i:before {
  -webkit-animation: activebefore .4s linear; }

nav ul {
  display: inline; }
  nav ul li {
    display: inline-block;
    padding-right: 1em; }
    nav ul li a {
      text-decoration: none; }

nav ul li.current {
  text-decoration: underline; }

.arrow {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-right: 2px solid black;
  border-bottom: 2px solid black; }
  .arrow.arrow-right {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .arrow.arrow-left {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .arrow.arrow-up {
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
  .arrow.arrow-scroll {
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
    z-index: 1100;
    margin: auto; }

.slider {
  position: relative; }

.slider-images {
  height: 0;
  padding-bottom: 50%; }

.slider-images {
  top: 0;
  left: 0.9375rem;
  position: relative;
  width: calc(100% - 1.875rem);
  overflow: hidden;
  list-style: none; }
  .slider-images li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s; }
    .slider-images li img {
      height: 100%;
      width: auto;
      max-width: none;
      display: block;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .slider-images li.is-active {
      opacity: 1;
      visibility: visible;
      transition: .5s; }

.slider-bullets {
  position: absolute;
  bottom: 1em;
  width: 100%;
  background: none;
  text-align: center; }
  .slider-bullets li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 .2em;
    cursor: pointer; }
    .slider-bullets li i {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: transparent;
      border: thin solid black; }
    .slider-bullets li.is-active i {
      background-color: black; }

/* Arrows */
.slider-controls {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .slider-controls .arrow {
    height: 100%;
    width: 2.75rem;
    position: absolute;
    top: 0;
    display: block;
    cursor: pointer; }
    .slider-controls .arrow i {
      width: 1.25rem;
      height: 1.25rem;
      top: 50%;
      left: 50%;
      position: absolute;
      cursor: pointer; }
      .slider-controls .arrow i:before {
        width: 0.1875rem;
        height: 100%;
        position: absolute;
        background: black;
        content: " "; }
      .slider-controls .arrow i:after {
        height: 0.1875rem;
        width: 100%;
        position: absolute;
        background: black;
        content: " "; }
    .slider-controls .arrow.arrow-left {
      left: 0;
      margin-left: 2em;
      -webkit-transform: rotate(-45deg); }
      .slider-controls .arrow.arrow-left i {
        background-position: -64px -32px; }
    .slider-controls .arrow.arrow-right {
      right: 0;
      margin-right: 2em;
      -webkit-transform: rotate(135deg); }
      .slider-controls .arrow.arrow-right i {
        background-position: -64px -64px; }

.section-slider .section-content .slider-controls {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden; }
.section-slider .section-content:hover .slider-controls {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible; }

section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: white; }
  section .section-header,
  section .section-body {
    clear: both; }
  section .section-header {
    max-width: 700px;
    margin-bottom: 3.125rem; }

section.hero {
  height: calc(100vh - 60px);
  margin-top: 0;
  margin-bottom: 3.125rem;
  padding: 0;
  overflow: hidden; }
  section.hero .hero-banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  section.hero .section-body {
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    margin: auto; }

section.text .section-body {
  max-width: 700px;
  margin: auto; }
  section.text .section-body h2,
  section.text .section-body p,
  section.text .section-body a {
    margin-bottom: 1em; }

section.image .section-body figure {
  display: inline-block;
  text-align: left; }

section.grid ul {
  width: 100%; }
  section.grid ul li {
    margin-bottom: 50px; }
    section.grid ul li > * {
      margin-bottom: 15px; }
    section.grid ul li img {
      min-width: 100%;
      display: block; }

@media only screen and (min-width: 1001px) {
  .l-grid-4 li:nth-last-child(-n + 4) {
    margin-bottom: 0; }

  .l-grid-3 li:nth-last-child(-n + 3) {
    margin-bottom: 0; }

  .l-grid-2 li:nth-last-child(-n + 2) {
    margin-bottom: 0; }

  .l-grid-1 li:nth-last-child(-n + 1) {
    margin-bottom: 0; } }
@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .m-grid-4 li:nth-last-child(-n + 4) {
    margin-bottom: 0; }

  .m-grid-3 li:nth-last-child(-n + 3) {
    margin-bottom: 0; }

  .m-grid-2 li:nth-last-child(-n + 2) {
    margin-bottom: 0; }

  .m-grid-1 li:nth-last-child(-n + 1) {
    margin-bottom: 0; } }
@media only screen and (max-width: 500px) {
  .s-grid-4 li:nth-last-child(-n + 4) {
    margin-bottom: 0; }

  .s-grid-3 li:nth-last-child(-n + 3) {
    margin-bottom: 0; }

  .s-grid-2 li:nth-last-child(-n + 2) {
    margin-bottom: 0; }

  .s-grid-1 li:nth-last-child(-n + 1) {
    margin-bottom: 0; } }
section.grid ul.isotope-masonry li:nth-child(n) {
  margin-bottom: 1.875rem; }
  section.grid ul.isotope-masonry li:nth-child(n) img {
    margin-bottom: 0; }

@media screen and (min-width: 1400px) {
  section.grid ul li {
    width: 25%; } }
section.parallax .section-body,
.bcg {
  height: 0;
  padding-bottom: 50% !important; }

.section-parallax {
  width: 100%;
  z-index: 1000; }

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%; }

ul.posts li div {
  padding: 15px 30px;
  background-color: #f3f4f5; }
  ul.posts li div .post-category {
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none; }
  ul.posts li div .post-title {
    display: block; }
ul.posts li div:first-child {
  padding-bottom: 200px; }
ul.posts li img {
  display: block;
  margin-top: -185px; }

/*
 * Show and Hide class functions
 */
.is-visible {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible; }

.is-hidden {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.1s {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.1s {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.2s {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.2s {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.4s {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.4s {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.5s {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.5s {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.6s {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.6s {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.7s {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.7s {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.8s {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.8s {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  visibility: hidden; }

.is-visible-0\.9s {
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  opacity: 1;
  visibility: visible; }

.is-hidden-0\.9s {
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  opacity: 0;
  visibility: hidden; }

.is-pos-left {
  float: left; }

.is-pos-right {
  float: right; }

.is-pos-center {
  display: block;
  margin: auto; }

section.has-no-pad,
.section-header.has-no-pad,
.section-body.has-no-pad,
.section-footer.has-no-pad {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }
section.has-no-pad-top,
.section-header.has-no-pad-top,
.section-body.has-no-pad-top,
.section-footer.has-no-pad-top {
  padding-top: 0; }
section.has-no-pad-bottom,
.section-header.has-no-pad-bottom,
.section-body.has-no-pad-bottom,
.section-footer.has-no-pad-bottom {
  padding-bottom: 0; }
section.has-no-pad-left,
.section-header.has-no-pad-left,
.section-body.has-no-pad-left,
.section-footer.has-no-pad-left {
  padding-left: 0; }
section.has-no-pad-right,
.section-header.has-no-pad-right,
.section-body.has-no-pad-right,
.section-footer.has-no-pad-right {
  padding-right: 0; }
section.has-no-pad-sides,
.section-header.has-no-pad-sides,
.section-body.has-no-pad-sides,
.section-footer.has-no-pad-sides {
  padding-left: 0;
  padding-right: 0; }
section.has-extra-pad-top,
.section-header.has-extra-pad-top,
.section-body.has-extra-pad-top,
.section-footer.has-extra-pad-top {
  padding-top: 12.5rem; }
section.has-extra-pad-bottom,
.section-header.has-extra-pad-bottom,
.section-body.has-extra-pad-bottom,
.section-footer.has-extra-pad-bottom {
  padding-bottom: 12.5rem; }

section.image .section-body.is-pos-left {
  text-align: left; }
section.image .section-body.is-pos-center {
  text-align: center; }
section.image .section-body.is-pos-right {
  text-align: right; }

h1.is-italic, h2.is-italic, p.is-italic, a.is-italic {
  font-style: italic; }
h1.is-underlined, h2.is-underlined, p.is-underlined, a.is-underlined {
  text-decoration: underline; }
h1.is-capitalized, h2.is-capitalized, p.is-capitalized, a.is-capitalized {
  text-transform: capitalize; }
h1.is-uppercase, h2.is-uppercase, p.is-uppercase, a.is-uppercase {
  text-transform: uppercase; }
h1.is-lowercase, h2.is-lowercase, p.is-lowercase, a.is-lowercase {
  text-transform: lowercase; }
h1.is-bold, h2.is-bold, p.is-bold, a.is-bold {
  font-weight: 700; }
h1.is-aligned-center, h2.is-aligned-center, p.is-aligned-center, a.is-aligned-center {
  text-align: center; }
h1.is-aligned-left, h2.is-aligned-left, p.is-aligned-left, a.is-aligned-left {
  text-align: left; }
h1.is-aligned-right, h2.is-aligned-right, p.is-aligned-right, a.is-aligned-right {
  text-align: right; }
h1.is-black, h2.is-black, p.is-black, a.is-black {
  color: black; }
h1.is-white, h2.is-white, p.is-white, a.is-white {
  color: white; }

p.is-small {
  font-size: 15px; }

.is-stretched-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.is-stretched-object {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .is-stretched-object.is-stretched-wide {
    width: 100%;
    min-height: 100%;
    height: auto; }
  .is-stretched-object.is-stretched-high {
    height: 100%;
    min-width: 100%;
    width: auto; }

body > * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible; }

body.is-loading {
  height: auto !important;
  background: url("../img/logo.svg") center center no-repeat;
  background-size: 200px;
  background-attachment: fixed; }
  body.is-loading > * {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 0;
    visibility: hidden; }

body.is-mobile.is-loading > * {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  visibility: visible; }

.is-fullwidth {
  width: calc(100% + (6.25rem * 2));
  margin-left: -6.25rem; }

@media only screen and (max-width: 500px) {
  .is-fullwidth {
    margin-left: -3.75rem; } }
