/* Arrows */
.slider-controls{
  @include transform( translate(-50%, -50%) );

  top: 50%;
  left: 50%;
  position: absolute;

  width: 100%;

  .arrow{
    top: 0;
    position: absolute;

    &.arrow-left{
      left: 0;
      margin-left: 2em;
    }

    &.arrow-right{
      right: 0;
      margin-right: 2em;
    }
  }
}

// Only show arrows when slider is hovered
.section-slider .section-content{
  .slider-controls{
    @include hide( .3s );
  }

  &:hover .slider-controls{
    @include show( .3s );
  }
}