*{
  margin: 0;
  padding: 0;
  position: relative;
}

html{
  box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.row{
  max-width: none;
}

[class*='grid-']{
  width: calc( 100% + #{$block-grid-default-spacing} );
  margin-left: -($block-grid-default-spacing / 2);
}