body > header{
  @include flexbox;
  @include align-items( center );
  @include justify-content( space-between );

  position: fixed;
  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $grey-light;

  .link-logo{
    width: 50px;
  }
}
