body > header{
  @include flex;
  @include align-items( center );
  @include justify-content( space-between );

  left: 0;
  position: fixed;
  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $white;

  .link-logo{
    width: 50px;
  }
}
