header,
footer{
  padding: 0 $space-sides;
}

main{
  padding-top: $header-height;
}

main > *{
  padding: ($space-section / 2) $space-sides;

  &:first-child{
    padding-top: $space-section;
  }

  &:last-child{
    padding-bottom: $space-section;
  }
}

@media #{$small-only}{
  header,
  footer{
    padding: 0 $space-sides-small;
  }

  main > *{
    padding: $space-section-small $space-sides-small;

    &:first-child{
      padding-top: $space-section-small;
    }

    &:last-child{
      padding-bottom: $space-section-small;
    }
  }
}