// Level 1 elements: header, footer, main...
body > *{

}

// Level 2 elements: sections
main > *{
  margin: ($space-section / 2) 0;
  padding: 0 $space-sides;
  display: inline-block !important;

  // Because padding is split in two, first and last elements get double the padding
  &:first-child{
    margin-top: $space-section;
  }

  &:last-child{
    margin-bottom: $space-section;
  }
}

// Media queries
@media #{$small-only}{
  body > *{
    padding: 0 $space-sides-small;
  }

  main > *{
    margin: ($space-section-small / 2) 0;
  }
}