body{
  > *{
    @include show( .5s );
  }
}

body.is-loading{
  height: auto !important;
  background: url('../img/logo.svg') center center no-repeat;
  background-size: 200px;
  background-attachment: fixed;
  
  > *{
    @include hide( 0s );
  }
}

body.is-mobile.is-loading > *{
  @include show( 0s );
}