%base{
  @include opensans;

  font-size: 16px;
  font-weight: normal;

  a{
    font-size: 1em;
  }
}

h1{
  @extend %base;

  font-size: 3em;
}

h2{
  @extend h1;

  font-size: 2em;
}

p{
  @extend %base;

  font-size: .9em;
}

a{
  @extend %base;

  color: $black;
  text-decoration: underline;
  cursor: pointer;

  &.has-content{
    text-decoration: none;
  }
}