%base{
  @include source;

  font-size: 16px;
  font-weight: normal;
}

h1{
  @extend %base;

  font-size: 2.5em;
}

h2{
  @extend %base;

  font-size: 2em;
}

p{
  @extend %base;

  font-size: .9em;
}

article p{
  margin-bottom: 1em;

  font-size: 18px;
  line-height: 1.6;
}

span,
time{
  @extend %base;
}