nav ul{
  display: inline;

  li{
    display: inline-block;
    padding-right: 1em;

    a{
      text-decoration: none;
    }

    &:last-child{
      padding-right: 0;
    }
  }
}

// Current item
nav ul{
  li.current{
    text-decoration: underline;
  }
}